.jumbotron
  %h1.display-3 Movie Fan Club
  %p.lead Buy and sell movies. Connect with friends.
  %hr.my-4/
  %p Sign up to get started sharing your movie wishlist with friends, sell movies and see what it being sold in your area.
  %p.lead
    %a.btn.btn-lg{:href => "users/sign_up", :role => "button"} Sign up
