---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/genre/movie/list?api_key=<api_key_is_hidden>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"df2617d2ab5d0c85ceff5098b8ab70c4"'
      X-Memc:
      - HIT
      X-Memc-Age:
      - '18802'
      X-Memc-Expires:
      - '9998'
      X-Memc-Key:
      - 35d4905f7b79deee175de1f8c34b463b
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1510309239'
    body:
      encoding: UTF-8
      string: '{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science
        Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}'
  recorded_at: Fri, 10 Nov 2017 10:20:30 GMT
recorded_with: VCR 3.0.3
