=link_to recommendations_create_path(movie), remote: true do
  = image_tag 'wishlist_text'
=link_to recommendations_shelf_path(movie), remote: true do
  = image_tag 'add_shelf_text'
=link_to cards_path, remote: true do
  = image_tag 'hide_text'
