=link_to make_recommendation_path(movie), remote: true do
  = image_tag 'wishlist_text'
=link_to shelf_recommendation_path(movie), remote: true do
  = image_tag 'add_shelf_text'
=link_to cards_path, remote: true do
  = image_tag 'hide_text'
