=link_to make_recommendation_path(movie), remote: true do
  = inline_svg 'wishlist_text', class: 'card-icon'
=link_to shelf_recommendation_path(movie), remote: true do
  = inline_svg 'add_shelf_text', class: 'card-icon'
=link_to cards_path, remote: true do
  = inline_svg 'hide_text', class: 'card-icon'
