=link_to make_recommendation_path(movie), remote: true do
  = image_tag 'wishlist_text', class: 'card-icon'

=link_to shelf_recommendation_path(movie), remote: true do
  = image_tag 'add_shelf_text', class: 'card-icon'
