.recommendations_page
  %h2 RECOMMENDATIONS
  %button.btn{:type => "button"} Social 1
  %button.btn{:type => "button"} Social 2
  %button.btn{:type => "button"} Social 3
  %button.btn{:type => "button"} Social 4
  %button.btn{:type => "button"} Social 5

  .row
    - @movies.each do |movie|
      .col-2
        .card
          = image_tag movie.poster.url(:medium) , class: "card-img-top"
          .card-block
            %h4.card-title Card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            %a.btn.btn-link.btn-sm{:href => "#"} Buy
            %a.btn.btn-link.btn-sm{:href => "#"} Add to
            %a.btn.btn-link.btn-sm{:href => "#"} Go to
            %a.btn.btn-link.btn-sm{:href => "#"} Rate
