.recommendations_page
  %h1 Recommendations
  %br
  .row
    - @movies.each do |movie|
      .col-3.card
        =image_tag movie.poster(:medium), class:'image-card'
        =link_to 'Save Recommendation',recommendations_create_path(movie), class: 'btn btn-primary'
        %br
        = movie.title
