%h1 Home
.row
  .col-12.bg-primary.text-light
    I am looking for:
.row
  .col-8
    %br
    %h3 Recommended movies
    -# TODO make recommended movies a link
    .row
      - @movies.limit(3).each do |movie|
        .col-3
          =link_to movie_path(movie) do
            %br=image_tag(movie.poster(:medium), title: movie.title)
    %br
  .col-4
    %h3 Feed
    %ul
      %li Review
      %li Review
      %li Review
      %li Review
      %li Review
.row
  .col-12
    %h3  Your Shelf
    %br
    .row
      - current_user.discs.each do |dvd|
        .col-3
          =link_to image_tag(dvd.movie.poster(:medium), title: dvd.movie.title), dvd.movie
    %br
.row
  .col-6
    %h3 Contribution section
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
%br
