.row
  .col-12
    %h3 Search results
    =sort_link(@search, :revenue, "Sort by Revenue") + " | "
    =sort_link(@search, :release_date, "Sort by Release Date")
    
.row
  - @movies.each do |movie|
    = render 'movies/movie', movie: movie
