---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/550?api_key=<api_key_is_hidden>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 1c9ac0159c94d8d0cbedc973445af2da
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1508246482'
    body:
      encoding: UTF-8
      string: '{"id":550,"name":"Jennifer Todd","also_known_as":[],"gender":1,"biography":"","popularity":0.000531,"profile_path":null,"adult":false,"imdb_id":"nm0865189"}'
  recorded_at: Tue, 17 Oct 2017 13:21:17 GMT
recorded_with: VCR 3.0.3
