---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/550?api_key=<api_key_is_hidden>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 2a79ea27c279e471f4d180b08d62b00a
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1508164575'
    body:
      encoding: UTF-8
      string: '{"id":550,"name":"Jennifer Todd","also_known_as":[],"gender":1,"biography":"","popularity":2.5e-05,"profile_path":null,"adult":false,"imdb_id":"nm0865189"}'
  recorded_at: Mon, 16 Oct 2017 14:36:08 GMT
recorded_with: VCR 3.0.3
