---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/550?api_key=<api_key_is_hidden>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - b3e3e393c77e35a4a3f3cbd1e429b5dc
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1508682265'
    body:
      encoding: UTF-8
      string: '{"id":550,"name":"Jennifer Todd","also_known_as":[],"gender":1,"biography":"","popularity":1e-06,"profile_path":null,"adult":false,"imdb_id":"nm0865189"}'
  recorded_at: Sun, 22 Oct 2017 14:24:21 GMT
recorded_with: VCR 3.0.3
