---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/555?api_key=<api_key_is_hidden>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 854d6fae5ee42911677c739ee1734486
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1508058940'
    body:
      encoding: UTF-8
      string: '{"birthday":null,"deathday":null,"id":555,"name":"Nancy Haigh","also_known_as":[],"gender":1,"biography":"","popularity":0.012652,"profile_path":null,"adult":false,"imdb_id":"nm0354101","homepage":null}'
  recorded_at: Sun, 15 Oct 2017 09:15:30 GMT
recorded_with: VCR 3.0.3
