.movie_show
  %h2 MOVIE SHOW
  %p Find me at /home/movie on browser
.div
  .row
    .col-sm-3{:style => "background-color:black;"}
      =image_tag("TombRaider2001.jpg", size: "220x315", alt: "Lara Croft Poster")
    .col-sm-7{:style => "background-color:grey;"}
      %object{:data => "https://www.youtube.com/embed/osvQ1qRSc3s", :height => "315", :width => "600"}
      %h5 Lara Croft: Tomb Raider (2001)
      .row
      %ul.list-inline
        %li R
        %li 1h 30min
        %li Animation | Comedy
        %li ☆☆☆☆☆ 7.3
        %li Rate This
    .col-sm-2{:style => "background-color:lavender;"}
      %ul
        %li Review
        %li Buy Button
        %li Add to Watchlist
        %li Put on Shelf
        %li Want to watch
        %li Release Information
        %li The Collection
        %li Language: en
        %li tmdb_id: 808
        %li Our Vote
        %li Social Feedback

.div
  .row
    .col-sm-3{:style => "background-color:lightyellow;"}
      %ul
        %li Cast
        %li Director
        %li Other movies by actor
        %li See more on iMDB (imdb_id: tt0126029)
    .col-sm-7{:style => "background-color:lightgrey;"} English aristocrat Lara Croft is skilled in hand-to-hand combat and in the middle of a battle with a secret society. The shapely archaeologist moonlights as a tomb raider to recover lost antiquities and meets her match in the evil Powell, who's in search of a powerful relic.
    .col-sm-2{:style => "background-color:darkgrey;"} SHARE links

.div
  .row
    .col-sm-6{:style => "background-color:lightcyan;"}
      %h3 Review section
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-sm-6{:style => "background-color:lightpink;"}
      %h3 Shelf w sell section
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
