.special-card
  .special-content
    =link_to movie_path(disc.movie) do
      = image_tag disc.movie.poster.url(:medium) , class: "img-fluid rounded special"
      .special-overlay
        %h3= disc.movie.title
        .actions.special-actions
          = render 'actions', disc: disc
