.card
  .card-block
    =link_to movie_path(disc.movie) do
      = image_tag disc.movie.poster.url(:medium) , class: "img-fluid rounded"
      .overlay
        %h4= disc.movie.title
        %p= disc.movie.summary[0..350]+'...'
    .card-footer
      = render 'actions', disc: disc
