.card
  .card-block
    =link_to movie_path(disc.movie) do
      = image_tag disc.movie.poster.url(:medium) , class: "img-fluid rounded"
      .overlay
        %h5= disc.movie.title
        %p= disc.movie.summary[0..200]+'...'
    .actions
      = render 'actions', disc: disc
