%b Your review for this movie:
Plot score:
=@disc.review.plot_score
Plot comment:
=@disc.review.plot_comment
Acting score:
=@disc.review.acting_score
Acting comment:
=@disc.review.acting_comment
Summary
=@disc.review.summary

= link_to 'Edit my review', edit_disc_review_path(@disc), class: 'btn btn-link'
