%h1 Your DVDs for sale

%br
  .row.py-3
    - @discs.each do |disc|
      .col-3.card.bg-light.border-dark
        .row
          .col-5
            =link_to movie_path(disc.movie) do
              =image_tag disc.movie.poster(:medium), class:'img-fluid rounded'
          .col-7
            .card-block
              %h5.card-title=disc.movie.title
              %p.card-text
                Condition:
                =best_in_place disc.dvd, :condition, :as => :input, :url => disc_dvd_path(disc)
              %p.card-text
                Price:
                =best_in_place disc.dvd, :price, :as => :input, :url => disc_dvd_path(disc)
              %p.card-text
                Since:
                = time_ago_in_words disc.dvd.created_at
  .row
  = link_to 'Back to Home', discs_path
