.row
  .col-md-9
    %h4=link_to 'Recommend me some movies', recommendations_index_path
    .row
      = render @movies.limit(5)
  .col-md-3
    .socialfeed
      .panel.panel-default
        .panel-heading
          %span.glyphicon.glyphicon-list-alt
          %b Social Feed (Test JS)
        .panel-body
          .row
            .col-xs-12
              %ul.demo1
                %li.news-item
                  %table{:cellpadding => "4"}
                    %tr
                      %td
                        %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/1.png", :width => "60"}/
                      %td
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                        %a{:href => "#"} Read more...
                %li.news-item
                  %table{:cellpadding => "4"}
                    %tr
                      %td
                        %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/2.png", :width => "60"}/
                      %td
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                        %a{:href => "#"} Read more...
                %li.news-item
                  %table{:cellpadding => "4"}
                    %tr
                      %td
                        %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/3.png", :width => "60"}/
                      %td
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                        %a{:href => "#"} Read more...
                %li.news-item
                  %table{:cellpadding => "4"}
                    %tr
                      %td
                        %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/4.png", :width => "60"}/
                      %td
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                        %a{:href => "#"} Read more...
                %li.news-item
                  %table{:cellpadding => "4"}
                    %tr
                      %td
                        %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/5.png", :width => "60"}/
                      %td
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                        %a{:href => "#"} Read more...
                %li.news-item
                  %table{:cellpadding => "4"}
                    %tr
                      %td
                        %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/6.png", :width => "60"}/
                      %td
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                        %a{:href => "#"} Read more...
                %li.news-item
                  %table{:cellpadding => "4"}
                    %tr
                      %td
                        %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/7.png", :width => "60"}/
                      %td
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                        %a{:href => "#"} Read more...
        .panel-footer

.row
%h4=link_to "Wishlist", discs_wishlist_path
%p Add movies to your wishlist and we notify you when a good deal comes up!
.row
  .col-12
  = render wishlist.order("RANDOM()").limit(6)
.row
  .col-md-10
  .col-md-2
    %h5=link_to "Next >>", discs_wishlist_path
%hr/

.row
  .col-12
    %br
    %h4=link_to 'On your shelf', discs_shelf_path
    %p Place all DVDs you own or movies you have watched in your shelf and see your collection grow!
    .row#shelf
      = render @discs.limit(4)
.row
  .col-md-10
  .col-md-2
    %h5.shelf_link= link_to 'More >>', discs_more_shelf_path(page: 2), remote: true
%hr/


.row
  %h4 Contribution section
.row
  %p Why choose Moviefan.club as your number one goto place to manage your favourite movies? Because it it socially-driven...
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
%hr/
