.container-fluid.disc_index
  .row
    .col-md-9
      %h4=link_to 'Recommend me some movies', recommendations_index_path
      .row
        = render @movies.limit(5)
    .col-md-3.socialfeed
      .panel.panel-default
        .panel-heading
          %span.glyphicon.glyphicon-list-alt
          %b Movie Fan's Social Feed
        .panel-body
          .row
            .col-xs-12
              %ul#demo1
                %li.news-item
                  .row
                    .col-3
                      %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/1.png", :width => "60"}/
                    .col-9
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                      %a{:href => "#"} Read more...
                %li.news-item
                  .row
                    .col-3
                      %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/2.png", :width => "60"}/
                    .col-9
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                      %a{:href => "#"} Read more...
                %li.news-item
                  .row
                    .col-3
                      %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/3.png", :width => "60"}/
                    .col-9
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                      %a{:href => "#"} Read more...
                %li.news-item
                  .row
                    .col-3
                      %img.img-circle{:src => "https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/images/4.png", :width => "60"}/
                    .col-9
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                      %a{:href => "#"} Read more...
        .panel-footer

  .row
  %h4=link_to "Wishlist", discs_wishlist_path
  %p Add movies to your wishlist and we notify you when a good deal comes up!
  .row
    .col-12
    = render wishlist.order("RANDOM()").limit(3)
  .row
    .col-md-10
    .col-md-2
      %h5=link_to "Next >>", discs_wishlist_path
  %hr/

  %h4=link_to 'Your DVDs for sale', discs_for_sale_path
  .row
    %h6 Share the love and put your DVDs up for sale on MovieFan.Club!
  .row
    = render @discs.limit(2)
