%h3= "#{current_user.name}'s Shelf"
.row
  - @discs.each do |disc|
    .col-2.card
      %h6.card-title=disc.movie.title
      =link_to movie_path(disc.movie) do
        =image_tag(disc.movie.poster(:thumb))
        =link_to 'Sell this', edit_disc_dvd_path(disc)
