- unless card.owns.blank?
  - if card.dvd
    = link_to edit_card_dvd_path(card) do
      = image_tag 'selling_text', class: 'card-icon'
  - else
    = link_to new_card_dvd_path(card) do
      = image_tag 'sell_text', class: 'card-icon'
