.movie-card{class: card_size}
  .movie-content
    =link_to movie_path(card.movie) do
      = image_tag card.movie.poster.url(:medium) , class: "img-fluid rounded movie-img"
      .movie-overlay
        %h3= card.movie.title
        .movie-actions
          = render 'cards/actions', card: card
