.main-gallery.js-flickity{"data-flickity-options" => "{ \"cellAlign\": \"center\", \"contain\": true, \"pageDots\": false, \"wrapAround\": true, \"groupCells\": true }"}
  -@movies.each do |movie|
    =render partial: 'movies/movie_gallery', locals: {movie: movie}
