.main-gallery{'class' => flickity}
  -if is_card
    -movies.each do |card|
      = render 'movies/movie', movie: card.movie, card: card, card_size: 'card-6', is_card: true
  -else
    -movies.each do |movie|
      =render 'movies/movie', movie: movie, card_size: 'card-6', is_card: false


:javascript
  var elem = document.querySelector(".#{flickity}");
  var flkty = new Flickity( elem, {
    cellAlign: 'left',
    contains: true,
    pageDots: false,
    wrapAround: false,
    groupCells: true
  });
