%h6
  %strong Your review for this movie:
%hr
.container
  .row
    %dt Plot score:
  .row
    %dd
      =@card.review.plot_score
      &mdash;
      =@card.review.plot_comment
  .row
    %dt Acting score:
  .row
    %dd
      =@card.review.acting_score
      &mdash;
      =@card.review.acting_comment

  %hr
  .row
    .col-7
    .col-4
      = link_to 'Edit my review', edit_card_review_path(@card), class: "btn btn-light"
