%b Your review for this movie:
Plot score:
=@card.review.plot_score
Plot comment:
=@card.review.plot_comment
Acting score:
=@card.review.acting_score
Acting comment:
=@card.review.acting_comment
Summary
=@card.review.summary

= link_to 'Edit my review', edit_card_review_path(@card), class: 'btn btn-link'
