.col-12.index-gallery
  .gallery-title-top
    %h1=link_to 'Recommend me some movies', recommendations_path
    %h4 Tell us your preferences and we can make better recommendations for you!
  .flickity1
    -@movies.each do |movie|
      =render 'movies/movie', movie: movie, card_size: 'card-6'
-# .col-3
  =render 'social' TODO Move to navbar dropdown

.col-12.index-gallery
  -if @cards_on_wishlist.empty?
    .empty-wishlist.empty
      %h1 You haven't added any films to your wishlist yet.
      %h4=link_to "Why not make a start? Go to recommendations.", recommendations_path
  -else
    .gallery-title
      %h1=link_to "Wishlist", wishlist_my_path
      %h4 Add movies to your wishlist and we notify you when a good deal comes up!
    .flickity2
      -@cards_on_wishlist.each do |card|
        = render 'movies/movie', movie: card.movie, card: card

.col-12.index-gallery
  -if @cards_for_sale.empty?
    .empty-sale.empty
      %h1 You aren't selling any films yet.
      %h4=link_to "Got some movies you want to sell? Search for the movie and add it to your shelf to begin.", recommendations_path
  -else
    .gallery-title
      %h1=link_to 'DVD Shelf', for_sale_my_path
      %h4 A personal page that displays all your DVDs for sale!
    .flickity3
      -@cards_for_sale.each do |card|
        = render 'movies/movie', movie: card.movie, card: card




:javascript
  var options =  {
      cellAlign: 'left',
      contains: true,
      pageDots: false,
      wrapAround: false,
      groupCells: true
    };
  new Flickity( document.querySelector(".flickity1") ,  {
      cellAlign: 'left',
      contains: true,
      pageDots: false,
      wrapAround: false,
      groupCells: true
    } );
  new Flickity( document.querySelector(".flickity2") ,  {
      cellAlign: 'left',
      contains: true,
      pageDots: false,
      wrapAround: false,
      groupCells: true
    } );
  new Flickity( document.querySelector(".flickity3") ,  {
      cellAlign: 'left',
      contains: true,
      pageDots: false,
      wrapAround: false,
      groupCells: true
    } );
