.row
  .col-9
    .row
      .col
        %h4=link_to 'Recommend me some movies', recommendations_path
        =render partial: 'gallery', locals: {movie: @movies}

    .row
      .col-12
        %h4=link_to "Wishlist", wishlist_my_path
        %p Add movies to your wishlist and we notify you when a good deal comes up!
    .row
      =render wishlist

    .row
      .col-12
      %h4=link_to 'Your DVDs for sale', for_sale_my_path
      %p Share the love and put your DVDs up for sale on MovieFan.Club!
    .row
      =render @cards

  .col-3.socialfeed
    =render 'social'
