.container
  .row
    .col-8
      %h4=link_to 'Recommend me some movies', recommendations_path
      =render partial: 'gallery', locals: {movie: @movies}
    .col-4.socialfeed
      =render 'social'
  %h4=link_to "Wishlist", wishlist_my_path
  %p Add movies to your wishlist and we notify you when a good deal comes up!
  .row
    .col-12
    = render wishlist.order("RANDOM()").limit(3)
  .row
    .col-md-10
    .col-md-2
      %h5=link_to "Next >>", wishlist_my_path
  %hr/

  %h4=link_to 'Your DVDs for sale', for_sale_my_path
  .row
    %h6 Share the love and put your DVDs up for sale on MovieFan.Club!
  .row
    = render @cards.limit(2)
