.col-9
  %h4=link_to 'Recommend me some movies', recommendations_path
  %p.small Tell us your preferences and we can make better recommendations for you!
  .flickity1
    -@movies.each do |movie|
      =render 'movies/movie', movie: movie, card_size: 'card-6'
.col-3
  =render 'social'

.col-12
  %h4=link_to "Wishlist", wishlist_my_path
  %p.small Add movies to your wishlist and we notify you when a good deal comes up!
  .flickity2
    -@cards_on_wishlist.each do |card|
      = render 'movies/movie', movie: card.movie, card: card

.col-12
  %h4=link_to 'DVD Shelf', for_sale_my_path
  %p.small A personal page that displays all your DVDs for sale!
  .flickity3
    -@cards_for_sale.each do |card|
      = render 'movies/movie', movie: card.movie, card: card




:javascript
  var options =  {
      cellAlign: 'left',
      contains: true,
      pageDots: false,
      wrapAround: false,
      groupCells: true
    };
  new Flickity( document.querySelector(".flickity1") ,  {
      cellAlign: 'left',
      contains: true,
      pageDots: false,
      wrapAround: false,
      groupCells: true
    } );
  new Flickity( document.querySelector(".flickity2") ,  {
      cellAlign: 'left',
      contains: true,
      pageDots: false,
      wrapAround: false,
      groupCells: true
    } );
  new Flickity( document.querySelector(".flickity3") ,  {
      cellAlign: 'left',
      contains: true,
      pageDots: false,
      wrapAround: false,
      groupCells: true
    } );
