.footer-container
  background-color: $dark-color
  // opacity: 0.8
  padding-top: 10px
  color: white

  .tmdbicon
    height: 110px
    width: 100px

  .align-center
    text-align: center

  .social-icons
    margin-left: 5px
    margin-right: 5px
    color: white
    &:hover
      color: rgb(22, 109, 249)
