.footer-container
  background-color: $black-color
  // opacity: 0.8
  margin-top: 20px
  padding-top: 10px
  color: white

  .tmdbicon
    height: 110px
    width: 100px

  .align-center
    text-align: center

  .social-icons
    margin-left: 5px
    margin-right: 5px
    color: white
    &:hover
      color: $light-color

  a
    text-decoration: none
    color: grey
