.movie-card
  margin: 5px
  padding: 5px
  background-color: $dark-color
  &:hover .movie-img
    transition: all .3s ease-in-out
    transform: scale(1.1)
  .movie-content
    position: relative
    &:hover .movie-overlay
      visibility: visible
      transition: all .3s ease-in-out
      transform: scale(1.1)
    .movie-overlay
      text-align: center
      height: 100%
      width: 100%
      visibility: hidden
      overflow: hidden
      position: absolute
      top: 0
      left: 0
      background-color: rgba(0, 0, 0, 0.8)
      h3
        color: white
        text-decoration: none
        font-size: 4vmin
      @media (min-width: 1200px)
        h3
          font-size: 1vw
      .movie-actions
        position: absolute
        bottom: 0
        img
          filter: invert(100%)
          height: 10vmin
          width: 10vmin
        @media (min-width: 1200px)
          img
            height: 3vw
            width: 3vw
