.navbar
  background-color: $black-color !important
  padding-bottom: 40px

  .navbar-nav
    text-align: center
    float: none

.navbar
  .navbar-collapse
    text-align: center

  .nav-item
    padding-left: 10px
