#example-1
  %button{'@click'=>"show = !show"}
    Review this movie
  %transition{ 'name'=>"slide-fade"}
    .new{ 'v-if'=>"show"}
      %h1
        Smoke?
-# ------------------------------------------

#review
  .star-rating.row
    %i.fa.fa-star
    %i.fa.fa-star-half-o
    %i.fa.fa-star-o

:javascript

  new Vue({
    el: '#example-1',
    data: {
      show: false
    }
  })
-# -------------------------------------------
