.user-rating-form{class: myclass}
  %span.user-rating
    %input{name: starclass, :type => "radio", :value => "10"}/
    %span.star
    %input{name: starclass, :type => "radio", :value => "9"}/
    %span.star
    %input{name: starclass, :type => "radio", :value => "8"}/
    %span.star
    %input{name: starclass, :type => "radio", :value => "7"}/
    %span.star
    %input{name: starclass, :type => "radio", :value => "6"}/
    %span.star
    %input{name: starclass, :type => "radio", :value => "5"}/
    %span.star
    %input{name: starclass, :type => "radio", :value => "4"}/
    %span.star
    %input{name: starclass, :type => "radio", :value => "3"}/
    %span.star
    %input{name: starclass, :type => "radio", :value => "2"}/
    %span.star
    %input{name: starclass, :type => "radio", :value => "1"}/
    %span.star
%p{:style => "margin-left: 20px"}
  You have selected
  %span.selected-rating{class: countclass} 0
  stars.
