%script{'type'=>"text/x-template", id: 'star-review'}
  .rating-form
    .user-rating-form
      %span.user-rating
        - (1..10).reverse_each do |val|
          %input{type: "radio", value: val, "v-model"=>"review_value", 'v-on:change'=>'updated'}/
          %span.star
    %p
    You have selected
    %span.selected-rating {{review_value}}
    stars.

:javascript

  Vue.component('rating-component', {
    props: ['hidden'],
    template: '#star-review',
    data: function() {
      return {review_value: 0}
    },
    methods: {
      updated: function() {
      document.getElementById(this.hidden).value = this.review_value
      }
    },
    created: function() {
      this.review_value = document.getElementById(this.hidden).value
    },
  })
