%h3= "#{current_user.name}'s Shelf"
.row
  - @cards.each do |card|
    = render partial: "movies/movie" , locals: {movie: card.movie , cardsize: "card-6"}

.row
  = link_to 'Back to Home', cards_path
