.col-4.centered
  = form_tag(charges_path, id: "payment-form") do
    #cardNumber
    #cardCvc
    #cardExpiry
    #card-errors{:role => "alert"}
    %button.btn-success Submit Payment
:javascript
  var stripe = Stripe('pk_test_vpQRa6WLyPKagJboZZs0gYQI');
  var elements = stripe.elements();
  var style = {
    base: {
      color: '#32325d',
      lineHeight: '24px',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    },
  };

  var cardNumber = elements.create('cardNumber', {style: style, placeholder: "Enter your card number"});
  cardNumber.mount('#cardNumber');
  var cardCvc = elements.create('cardCvc', {style: style});
  cardCvc.mount('#cardCvc');
  var cardExpiry = elements.create('cardExpiry', {style: style});
  cardExpiry.mount('#cardExpiry');

  function changeListener(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }}

  cardNumber.addEventListener('change', changeListener );
  cardCvc.addEventListener('change', changeListener );
  cardExpiry.addEventListener('change', changeListener );

  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(cardNumber).then(function(result) {
      if (result.error) {
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        stripeTokenHandler(result.token);
      }
    });
  });

  function stripeTokenHandler(token) {
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    form.submit();
  }
