%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
/ //
.container
  .text-center.center-block
    %br/
    %a{:href => "https://www.facebook.com/bootsnipp"}
      %i.fa.fa-facebook-square.fa-3x.social
    %a{:href => "https://twitter.com/bootsnipp"}
      %i.fa.fa-twitter-square.fa-3x.social
    %a{:href => "https://plus.google.com/+Bootsnipp-page"}
      %i.fa.fa-google-plus-square.fa-3x.social
    %a{:href => "mailto:bootsnipp@gmail.com"}
      %i.fa.fa-envelope-square.fa-3x.social
