.footer-container
  .row.align-center
    .col-4
      copyright &copy;
      %br
      =link_to image_tag("tmdbicon.png", class: "tmdbicon"), "https://www.themoviedb.org/", target: :blank
    .col-4
      %h6=link_to 'My Movie Shelf', shelf_my_path
      %h6=link_to 'Movies hidden', hidden_list_my_path, :title => "Unhide movies here"
      %h6=link_to 'Your DVD shelf', for_sale_my_path
    .col-4
      %a{:href => "https://github.com/webdev-camp/movies", target: :blank}
        %i.fa.fa-github.fa-3x.social-icons
      %a{:href => "https://twitter.com/", target: :blank}
        %i.fa.fa-twitter.fa-3x.social-icons
      %a{:href => "https://www.facebook.com/", target: :blank}
        %i.fa.fa-facebook.fa-3x.social-icons
